@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h2>@ViewBag.Message</h2>
            </hgroup>
        </div>
    </section>
}
<center><h3>Selecionamos uma das opções de cerveja abaixo:</h3></center>

<ol id="prateleira">

    @foreach (modal.Beer beer in @ViewBag.BeerList)
    {

        <li>
            <h4>@beer.Name - @beer.Vol ml</h4>

            <img src="/Images/Beers/@beer.Image" class="thumbnail" />
            <br />
            <div>
               Por apenas: R$ @string.Format("{0:0.00}", beer.Price)
            </div> 
            <a href="/Cerveja/@beer.Id" class="button">
                Comprar agora!
            </a>


        </li>

    }



</ol>